<%= form_with(model: verse, local: true) do |form| %>
  <% if verse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(verse.errors.count, "error") %> prohibited this verse from being saved:</h2>

      <ul>
      <% verse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book %>
    <%= form.number_field :book %>
  </div>

  <div class="field">
    <%= form.label :chapter %>
    <%= form.number_field :chapter %>
  </div>

  <div class="field">
    <%= form.label :verse %>
    <%= form.number_field :verse %>
  </div>

  <div class="field">
    <%= form.label :verse_text %>
    <%= form.text_area :verse_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
