<p id="notice"><%= notice %></p>

<h1>Verses</h1>

  <%= search_form_for @q , :html => {class:"form-inline"} do |f| %>
  <%= f.search_field :book_or_verse_text_cont , class:"form-control"%>
  <%= f.submit 'Search', class:"btn btn-outline-primary"%>
  <% end %>

<p class="text-muted small"><%= @verses.count %> verses</p>

<%= paginate @verses %>


<div class="card-deck">
    <% @verses.each do |verse| %>
	<% cache verse do %>
	  <div class="card mb-3" style="min-width:230px">
	    <div class="card-header bg-transparent small"><%= verse.book.name %> <%= verse.chapter %>:<%= verse.verse %></div>
	    <div class="card-body">
	      <p class="card-text"><%= verse.verse_text %></p>
	    </div>
	    <div class="card-footer bg-transparent small"><%= link_to 'Show', verse %></div>
	  </div>
	  <% end %>
    <% end %>
</div>

<%= paginate @verses %>



